<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<textarea id="message" name="message" cols="24" rows="6">Hi, nice site</textarea>
	<input id="password" name="password" type="password" />
	<input id="parent_id" name="parent_id" type="hidden" value="5" />
	<input id="user_name" name="user[name]" type="search" />
	<input id="user_phone" name="user[phone]" type="tel" />
	<input id="user_born_on" name="user[born_on]" type="date" />
	<input id="user_meeting_time" name="user[meeting_time]" type="datetime" />
	<input id="user_graduation_day" name="user[graduation_day]"
		type="datetime-local" />
	<input id="user_birthday_month" name="user[birthday_month]"
		type="month" />
	<input id="user_birthday_week" name="user[birthday_week]" type="week" />
	<input id="user_homepage" name="user[homepage]" type="url" />
	<input id="user_address" name="user[address]" type="email" />
	<input id="user_favorite_color" name="user[favorite_color]"
		type="color" value="#000000" />
	<input id="task_started_at" name="task[started_at]" type="time" />
	<input id="product_price" max="20.0" min="1.0" name="product[price]"
		step="0.5" type="number" />
	<input id="product_discount" max="100" min="1" name="product[discount]"
		type="range" />
</body>
</html>